* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif, cursive;
  background-color: skyblue;
  color: white;
  min-height: 100vh;
}

h1 {
  text-align: center;
  padding-top: 100px;
}

.container {
  margin: auto;
  padding: 20px;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(9, 160, 236, 1);
  position: fixed;
  top: 0;
  padding: 25px 35px;
  background: blur(8px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
}

nav img {
  width: 200px;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

li a {
  margin-left: 40px;
  margin-right: 50px;
}

nav a {
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
}
.p {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.box {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: box-shadow 0.2s ease-out;
}

.box.active {
  box-shadow: 0 0 10x 5px #f05454;
}

.box img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.box .info {
  background-color: #30475e;
  color: yellow;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  padding: 10px;
  text-align: ceter;
  height: 100%;
}
